$primary-color:rgb(38,124,244);
$light-color:rgb(255,255,255);
$dark-color:rgb(1,1,1);
$danger-color:#C82333;
$success-color:#218838;
$warn-color:#E0A800;
$secondary-color:rgb(68,68,68);
$secondary-light-color:rgb(123,121,119);
$recipe-card-background:rgb(249,249,249);